/*   
    
    * This file contains the styling for the Home Variation Two, this
    is the file you need to edit to change the look of the
    template.

******************************************************
*****************************************************/
:root {
  --font-family-base: 'Marcellus', serif !important;
  --font-family-body: 'Mulish', sans-serif !important;
}

.home-slider.home-slider-3 {
  padding: 240px 0 230px 0;
  overflow-x: hidden;
}
.custom-section.video_section,
.custom-section.hero_section{
  padding-top: 70px;
}
.custom-section.flash_section{
  padding-top: 70px;
  padding-bottom: 0px !important;
}


.category-3 .category-item {
  padding: 20px 20px 40px;
  border-radius: 105px;
}

.category-3 .category-item:hover {
  border-color: transparent !important;
  -webkit-box-shadow: 0px 5px 40px rgba(49, 49, 49, 0.1);
          box-shadow: 0px 5px 40px rgba(49, 49, 49, 0.1);
}

.category-3 .category-title {
  font-family: var(font-family-body);
}

.product-default-3 {
  border-radius: 105px;
  cursor: pointer;
}

.product-default-3:hover {
  border-color: transparent;
}

.product-default-3 .product-title, .product-default-3 .product-price span {
  font-family: var(--font-family-body);
  font-weight: var(--font-semi-bold);
}

.product-default-3 .product-price {
  line-height: 1;
}

.product-default-3 .product-img {
  margin-bottom: 20px;
}

.product-default-3 .product-img::before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% / 2 * 1.35);
  height: calc(100% / 2 * 1.65);
  background: var(--color-light-4);
  border-radius: 120px;
}

.product-default-3 .product-img .line {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.product-default-3.slick-current .line {
  background: var(--color-dark);
  -webkit-box-shadow: 0px 3px 4px rgba(38, 41, 45, 0.25);
          box-shadow: 0px 3px 4px rgba(38, 41, 45, 0.25);
  -webkit-animation: scale .5s linear 1;
          animation: scale .5s linear 1;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}


.page-title-area {
  position: relative;
  padding: 180px 0 45px;
  border-radius: 0 0 30px 30px;
}

@media only screen and (max-width: 992px) {
  .page-title-area {
  position: relative;
  padding: 130px 0 70px;
  border-radius: 0 0 30px 30px;
}
}
@media only screen and (max-width: 992px) {
  .home-slider.home-slider-3 {
    padding: 150px 0 340px 0;
  }
  .banner-sm.ratio.ratio-16-9::before {
    padding-bottom: 85.25%;
  }
}
@media only screen and (max-width: 575px) {
  .home-slider.home-slider-3 {
    padding: 220px 0 370px 0;
  }
  .product-thumb .slick-dots{
    width: max-content;
    
  } 
}
@media only screen and (max-width: 480px) {
  .banner-sm.ratio.ratio-16-9::before {
    padding-bottom: 70.25%;
  }
}
.footer-fashion .bg-overlay::before{
  opacity: 0 !important;
}
.footer-area .copy-right-area{
  border-top: 1px solid var(--color-gray-1) !important;
}


/*# sourceMappingURL=home-3.css.map */
