/*   

  * This file contains the styling for the Home Variation Seven, this
  is the file you need to edit to change the look of the
  template.

******************************************************
*****************************************************/
/* -----------------------------------------
    Typography CSS
----------------------------------------- */

:root {
    --font-family-base: "Jost", sans-serif;
    --font-family-body: "Jost", sans-serif;
    --color-primary: #d0473e;
    --color-primary-rgb: 208, 71, 62;
    --color-dark: #19110a;
    --color-gray-1: #635658;
    --border: #e0e0e0;
}

body {
    font-family: var(--font-family-body), var(--font-family-base);
    font-size: var(--font-size);
    color: var(--color-gray-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-family-base);
    color: var(--color-dark);
    line-height: 1.2;
}

h1 {
    font-weight: var(--font-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-semi-bold);
}

h1,
.h1 {
    font-size: 64px;
    font-size: clamp(2rem, 0.6667rem + 2.7778vw, 4rem);
}

h2 {
    font-size: 48px;
}

.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ul {
    padding-inline-start: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    line-height: 1;
}

.text,
p {
    line-height: 1.5;
    color: var(--color-gray-1);
}

.text-xsm {
    font-size: var(--font-xsm) !important;
}

.text-sm {
    font-size: var(--font-sm) !important;
}

.text-lg {
    font-weight: var(--font-medium);
    font-size: var(--font-lg);
}

.overfollow-hidden {
    overflow: hidden;
}

.gap-10 {
    gap: 10px;
}

a {
    color: var(--color-dark);
    font-weight: var(--font-medium);
    transition: 0.5s ease;
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: none;
        transition: 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

/* BUtton light css */
.btn-light {
    border-width: 0;
    background-color: var(--color-white);
    transition: background 0.3s ease-out;
    z-index: 1;
    padding: 9px 16px;
}
.btn-light::before,
.btn-light::after {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-gray-1);
    transition: all 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.btn-light::after {
    transition-delay: 0.3s;
}
.btn-light:hover {
    color: var(--color-primary);
    border-color: var(--color-white);
    background-color: var(--color-white);
}
.btn-light:hover::before,
.btn-light:hover::after {
    opacity: 0.12;
    left: 0;
    visibility: visible;
}
.btn-light.shadow {
    box-shadow: 0px 8px 30px rgba(var(--color-white-rgb), 0.3) !important;
}
/* BUtton light css end */

@media only screen and (max-width: 992.99px) {
    h1,
    .h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 38px;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .pt-100 {
        padding-top: 50px !important;
    }

    .ptb-100 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .pb-70 {
        padding-bottom: 40px !important;
    }

    .pt-70 {
        padding-top: 40px !important;
    }
}

@media only screen and (max-width: 768.99px) {
    .pb-100 {
        padding-bottom: 40px !important;
    }

    .pt-100 {
        padding-top: 40px !important;
    }

    .ptb-100 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .pb-70 {
        padding-bottom: 30px !important;
    }
}

@media only screen and (max-width: 575.99px) {
    h2 {
        font-size: 32px;
    }

    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480.99px) {
    .pb-70 {
        padding-bottom: 20px !important;
    }

    .pt-70 {
        padding-bottom: 20px !important;
    }
}

@media (min-width: 1198.98px) {
    .container-xl-fluid {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 540px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 715px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 715px) / 2);
    }
}

@media (min-width: 992px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 950px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 950px) / 2);
    }
}

@media (min-width: 1140.99px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1140px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1440px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1440px) / 2);
    }
}

.fw-black {
    font-weight: 800;
}

.fw-semibold {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.radius-30 {
    border-radius: 30px;
}

.h5,
h5 {
    line-height: 1.5;
}
.text,
p {
    line-height: 1.5;
    color: var(--color-gray-1);
}

.rate {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
    height: 16px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 110px;
    overflow: hidden;
}

.rating {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 16px;
}

.ratings-total {
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}

:is(.lc-1, .lc-2, .lc-3, .lc-4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.lc-1 {
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
}

.lc-2 {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}

.lc-3 {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
}

.lc-4 {
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
}

.slick-slider {
    -webkit-user-select: inherit;
    user-select: inherit;
}

.space-nowrap {
    white-space: nowrap;
}

/* ---------------- */
.fw-black {
    font-weight: 800;
}

.fw-semibold {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.radius-30 {
    border-radius: 30px;
}

@media (min-width: 1400.98px) {
    .h2 {
        font-size: 36px;
    }
}
.h5,
h5 {
    line-height: 1.5;
}

.rate {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
    height: 16px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 110px;
    overflow: hidden;
}

.rating {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 16px;
}

.ratings-total {
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}

:is(.lc-1, .lc-2, .lc-3, .lc-4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.lc-1 {
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
}

.lc-2 {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}

.lc-3 {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
}

.lc-4 {
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
}

.slick-slider {
    -webkit-user-select: inherit;
    user-select: inherit;
}

.space-nowrap {
    white-space: nowrap;
}

.row-gap-20 {
    row-gap: 20px;
}

/* -----------------------------------------
header CSS
----------------------------------------- */
.header.header-v9 {
    background: #fff;
}
.header.header-v9 .header-top {
    margin-bottom: 0px;
    background: rgba(var(--color-primary-rgb), 1);
}
.header.header-v9 .header-top .header-right ul > li,
.header.header-v9 .header-top .header-left ul > li {
    color: #fff;
}
.header.header-v9 .header-middle {
    background: #fff;
    margin-bottom: 0;
    padding: 12px 0;
}
.header.header-v9 .header-middle .header-left ul > li {
    font-weight: var(--font-medium);
    font-size: var(--font-sm);
    color: var(--color-gray-1);
}
.header.header-v9 .header-middle .header-left ul > li a {
    color: var(--color-gray-1);
}
.header.header-v9 .header-middle .header-left ul > li a:hover {
    color: var(--color-primary);
}
.header.header-v9 .header-middle .header-left ul > li i {
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    padding-inline-end: 6px;
    color: var(--color-primary);
    vertical-align: -1px;
}
.header.header-v9 .header-middle .header-left .menu-item:not(:last-child) {
    padding-inline-end: 7px;
}
.header.header-v9 .header-middle .header-left .menu-item:not(:first-child) {
    padding-inline-start: 7px;
}
.header.header-v9 .header-middle .header-left .menu-item:not(:last-child) {
    border-right: 1px solid var(--border);
}
.header.header-v9 .mobile-navbar .mobile-navbar-inner {
    border-radius: 30px;
    padding: 0 12px;
    background: #fff;
}
.header.header-v9 .menu .nav-link {
    padding: 24px 15px;
    font-weight: 500;
    color: var(--color-gray-1);
}
.header.header-v9 .menu-search form {
    position: relative;
}
.header.header-v9 .menu-search .search-text {
    position: absolute;
    right: -10px;
    top: -13px;
    transition: width 0.5s ease, opacity 0.3s;
    height: 45px;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ff0000;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    width: 0;
    background: #fff;
    z-index: 2;
}
.header.header-v9 .menu-search .search-btn {
    position: relative;
    z-index: 3;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: none;
    top: -1px;
    transition: all 0.3s;
}
.header.header-v9 .menu-search .search-btn i {
    font-weight: 300;
}
.header.header-v9 .menu-search .search-btn:hover {
    color: var(--color-primary);
}
.header.header-v9 .menu-search.menuSearchactive .search-text {
    visibility: visible;
    opacity: 1;
    width: 220px;
    padding: 5px 40px 5px 20px;
    border-color: var(--color-primary);
}

/*---------------------------------
Home Hero Start
----------------------------*/
.home-hero-9 .slider-area {
    position: relative;
}
.home-hero-9 .slide-item {
    background: #f7f4f2;
    text-align: center;
    border-radius: 12px;
    padding: 30px 14px 0 12px;
    margin-right: 22px;
    margin-left: 22px;
}
.home-hero-9 .slide-item .hero-content {
    max-width: 500px;
    margin-inline: auto;
}
.home-hero-9 .slide-item img {
    display: inline-block;
    height: 400px;
}
@media (max-width: 1199.98px) {
    .home-hero-9 {
        padding-top: 40px;
    }
    .home-hero-9 .slide-item img {
        height: 260px;
    }
}
@media (max-width: 992.98px) {
    .home-hero-9 .slide-item img {
        height: 260px;
    }
}
@media (max-width: 767.98px) {
    .home-hero-9 .slide-item img {
        height: 200px;
    }
}
.home-hero-9 .slider-arrow .btn-icon {
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 50%;
    color: #635658;
    transition: all 0.3s ease;
}
.home-hero-9 .slider-arrow .btn-icon:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}
.home-hero-9 .slider-arrow :last-child {
    margin-inline-start: 0px;
}
.home-hero-9 .slider-arrow .slider-prev {
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
}
.home-hero-9 .slider-arrow .slider-next {
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 992.98px) {
    .home-hero-9 .slider-arrow .slider-prev {
        left: 9%;
    }
    .home-hero-9 .slider-arrow .slider-next {
        right: 9%;
    }
}
@media (max-width: 575.98px) {
    .home-hero-9 .slider-arrow .slider-prev {
        left: 0;
    }
    .home-hero-9 .slider-arrow .slider-next {
        right: 0;
    }
}

/*---------------------------------
Announcement Start
----------------------------*/
.announcement-area {
    background: #f5ede8;
    padding: 15px 0;
}

.announcement-slider .slider-item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    gap: 20px;
}

/*---------------------------------
Category css
----------------------------*/
.category.category-9 {
    overflow: hidden;
}
.category.category-9 .category-item {
    text-align: center;
}
.category.category-9 .category-item .category-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}
.category.category-9 .category-item .category-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.category.category-9 .category-item:hover .title {
    color: var(--color-primary);
}
.category.category-9 .category-item:hover .title a {
    color: currentColor;
}
.category.category-9 .category-item:hover .category-image img {
    transform: scale(1.3);
}
.category.category-9 .category-slider-wrapper {
    position: relative;
}
.category.category-9 .category-slider-wrapper .btn-icon {
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 50%;
    color: #635658;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 30px rgba(24, 24, 24, 0.1);
}
.category.category-9 .category-slider-wrapper .btn-icon:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}
.category.category-9 .category-slider-wrapper .slider-btn.slider-prev {
    position: absolute;
    left: -7px;
    top: 25%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.category.category-9 .category-slider-wrapper .slider-btn.slider-next {
    position: absolute;
    right: -7px;
    top: 25%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.category.category-9:hover .slider-btn.slider-prev {
    left: 0;
    visibility: visible;
    opacity: 1;
}
.category.category-9:hover .slider-btn.slider-next {
    right: 0;
    visibility: visible;
    opacity: 1;
}

/*---------------------------------
product-default css
----------------------------*/
.product-default-9 {
    border: none;
    overflow: hidden;
    position: relative;
    padding-bottom: 140px;
}
.product-default-9 .product-img {
    overflow: hidden;
}
.product-default-9 .product-img img {
    max-width: 100%;
    transition: all 0.4s cubic-bezier(0, 0, 0.05, 1);
}
.product-default-9 .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product-default-9 .hover-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product-default-9 .product-details {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 22px 20px;
    z-index: 3;
}
.product-default-9 .product-details::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.product-default-9 .btn-icon-group {
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.product-default-9 .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-9 .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.product-default-9 .product-price {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-9 .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
    transition: all 0.3s ease;
}
.product-default-9 .product-price .old-price {
    font-size: 14px;
    color: #635658;
    font-family: var(--font-family-body);
    transition: all 0.3s ease;
}
.product-default-9.active .product-img img,
.product-default-9:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-9.active .product-img .default-img,
.product-default-9:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-9.active .hover-img,
.product-default-9:hover .hover-img {
    opacity: 1;
    visibility: visible;
}
.product-default-9.active .product-details::after,
.product-default-9:hover .product-details::after {
    opacity: 1;
    visibility: visible;
}
.product-default-9.active .product-title,
.product-default-9:hover .product-title {
    color: #fff;
}
.product-default-9.active .product-title a,
.product-default-9:hover .product-title a {
    color: currentColor;
}
.product-default-9.active .new-price,
.product-default-9:hover .new-price {
    color: #fff;
}
.product-default-9.active .old-price,
.product-default-9:hover .old-price {
    color: #b3b3b3;
}
/* product-countdown */
.product-default-9 .product-countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: left;
}

.product-default-9 .product-countdown .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    background-color: var(--color-light-1);
    color: var(--color-dark);
    font-weight: var(--font-medium);
    font-size: 10px;
}

.product-default-9 .product-countdown span:first-child {
    font-size: var(--font-xsm);
    margin-bottom: 5px;
}

.product-default-9 .product-countdown .count:not(:last-child) {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
}

.product-default-9 .product-countdown .count-value {
    font-size: var(--font-xsm);
    margin-bottom: 5px;
}

.product-default-9 .product-countdown .count-period {
    color: var(--color-primary);
}
/* product-countdown */
.product-default-9 .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}

/* hover effect */
.product-default-9 .btn-icon-group.btn-icon-group-2 {
    margin-top: 0;
}
.product-default-9 .btn-icon-group-area {
    position: relative;
    margin-top: -40px;
}
.product-default-9 .btn-icon-group-area .hover-hide {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.product-default-9:hover .btn-icon-group-area .hover-hide {
    opacity: 0;
    visibility: hidden;
    background: transparent !important;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.product-default-9 .btn-icon-group-area .hover-show {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product-default-9:hover .btn-icon-group-area .hover-show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
    transform: translate(0);
}
/* hover effect end */

@media (max-width: 768px) {
    .product-default-9 .btn-icon-group-area {
        margin-top: -30px;
    }
    .product-default-9 .btn-icon-group-area .btn-icon-group.btn-icon-group-2 {
        margin-top: 0px;
    }
    .product-default-9 .btn-icon-group.btn-icon-group-2 .btn-icon {
        --size: 30px;
        font-size: 13px;
    }
    .product-default-9 .product-details {
        padding: 10px 10px 20px 10px;
    }
    .product-default-9 .btn-icon-group {
        margin-top: -25px;
    }
    .product-default-9 .btn-icon-group .btn-icon {
        --size: 25px;
        font-size: 12px;
    }
}

.product-default-tab-card {
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.product-default-tab-card .product-img {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-default-tab-card .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 400ms ease-out 0s;
}
.product-default-tab-card .product-img img:nth-child(1) {
    -webkit-transform: translatex(50%) scalex(1);
    transform: translatex(50%) scalex(1);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.product-default-tab-card .product-img img:nth-child(2) {
    -webkit-transform: translatex(0%) scalex(1);
    transform: translatex(0%) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 199;
}
.product-default-tab-card .product-details {
    padding: 22px 20px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
}
.product-default-tab-card .product-details::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.product-default-tab-card .btn-icon-group {
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.product-default-tab-card .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-tab-card .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.product-default-tab-card .product-title {
    color: #fff;
    transition: all 0.2s ease;
}
.product-default-tab-card .product-title:hover {
    color: var(--color-primary);
}
.product-default-tab-card .product-title a {
    color: currentColor;
}
.product-default-tab-card:hover .product-img img:nth-child(2) {
    -webkit-transform: translatex(-50%) scalex(2);
    transform: translatex(-50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.product-default-tab-card:hover .product-img img:nth-child(1) {
    -webkit-transform: translatex(0) scalex(1);
    transform: translatex(0) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}
.product-default-tab-card .product-price {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-tab-card .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-white);
}
.product-default-tab-card .product-price .old-price {
    font-size: 14px;
    color: #b3b3b3;
    font-family: var(--font-family-body);
}
.product-default-tab-card .product-countdown-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-default-tab-card .product-countdown-area span {
    color: #635658;
}
.product-default-tab-card .product-countdown-area .product-countdown {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.product-default-tab-card .product-countdown-area .product-countdown .count {
    background-color: #fff;
    padding: 8px 8px;
    height: auto;
    width: auto;
    border: 1px solid #dfdede;
    line-height: 1;
}
.product-default-tab-card
    .product-countdown-area
    .product-countdown
    .count
    .count-value {
    font-size: var(--font-xsm);
}

.product-default-tab-card .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}

.product-default-tab-card .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 18px;
    color: var(--color-white);
    border-radius: 20px 0px 20px 20px;
    left: 0;
    border-radius: 0px 0px 20px 0px;
    z-index: 1;
    font-size: 14px;
}

@media (max-width: 768px) {
    .product-default-tab-card .product-details {
        padding: 10px 10px 20px 10px;
    }
    .product-default-tab-card .btn-icon-group {
        margin-top: -25px;
    }
    .product-default-tab-card .btn-icon-group .btn-icon {
        --size: 25px;
        font-size: 12px;
    }
    .product-default-tab-card .ratio.ratio-1-1::before {
        padding-bottom: 130%;
    }
}

.product-default-9 {
    position: relative;
}

.product-default-9 .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}
.product-default-9 .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 18px;
    color: var(--color-white);
    border-radius: 20px 0px 20px 20px;
    left: 0;
    border-radius: 0px 0px 20px 0px;
    z-index: 1;
    font-size: 14px;
}

.product-default-9-inline {
    display: flex;
    align-items: center;
    gap: 14px;
}
.product-default-9-inline .product-img {
    max-width: 48%;
    width: 100%;
    overflow: hidden;
}
.product-default-9-inline .product-img img {
    width: 100%;
}
.product-default-9-inline .product-img .hover-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-default-9-inline .product-img-2 {
    overflow: hidden;
    position: relative;
    z-index: 1;
    max-width: 48%;
    width: 100%;
}
.product-default-9-inline .product-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 400ms ease-out 0s;
}
.product-default-9-inline .product-img-2 img:nth-child(1) {
    -webkit-transform: translatex(50%) scalex(1);
    transform: translatex(50%) scalex(1);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.product-default-9-inline .product-img-2 img:nth-child(2) {
    -webkit-transform: translatex(0%) scalex(1);
    transform: translatex(0%) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 199;
}
.product-default-9-inline .product-category {
    display: inline-block;
    font-size: var(--font-sm);
    margin-bottom: 4px;
    font-weight: 500;
}
.product-default-9-inline .product-details {
    max-width: 50%;
    width: 100%;
}
.product-default-9-inline .btn-icon-group {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}
.product-default-9-inline .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
@media screen and (min-width: 992.98px) and (max-width: 1499.98px) {
    .product-default-9-inline .btn-icon-group .btn-icon {
        --size: 24px;
        font-size: 14px;
    }
}
@media screen and (min-width: 768.98px) and (max-width: 992.98px) {
    .product-default-9-inline .btn-icon-group .btn-icon {
        --size: 24px;
        font-size: 14px;
    }
}
.product-default-9-inline .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.product-default-9-inline .product-price {
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-9-inline .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.product-default-9-inline .product-price .old-price {
    font-size: 14px;
}
.product-default-9-inline:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-9-inline:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-9-inline:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}
.product-default-9-inline:hover .product-img-2 img:nth-child(2) {
    -webkit-transform: translatex(-50%) scalex(2);
    transform: translatex(-50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.product-default-9-inline:hover .product-img-2 img:nth-child(1) {
    -webkit-transform: translatex(0) scalex(1);
    transform: translatex(0) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}
@media (max-width: 768.98px) {
    .product-default-9-inline {
        flex-direction: column;
    }
    .product-default-9-inline .product-img {
        max-width: 100%;
        width: 100%;
    }
    .product-default-9-inline .product-img-2 {
        max-width: 100%;
        width: 100%;
    }
    .product-default-9-inline .product-details {
        max-width: 100%;
        width: 100%;
        padding-inline-end: 0;
        padding-bottom: 15px;
    }
    .product-default-9-inline .btn-icon-group .btn-icon {
        --size: 30px;
    }
}
@media (max-width: 768.98px) {
    .product-default-9-inline .btn-icon-group .btn-icon {
        --size: 27px;
        font-size: 14px;
    }
}
@media (max-width: 420.98px) {
    .product-default-9-inline {
        flex-direction: column;
    }
    .product-default-9-inline .product-img {
        max-width: 100%;
    }
    .product-default-9-inline .product-details {
        max-width: 100%;
    }
}

.product-inline-slider-wrapper {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 10px;
    margin-top: -24px;
    position: relative;
    z-index: 1;
    background: #fff;
}
.product-inline-slider-wrapper .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.product-inline-slider-wrapper .slick-dots {
    position: absolute;
    bottom: -80px;
}

.products-showcase-section {
    overflow-x: hidden;
}
/*---------------------------------
Banner Md
----------------------------*/
.banner-md {
    position: relative;
    overflow: hidden;
    z-index: 3;
}
.banner-md .banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    top: unset;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    height: max-content;
    z-index: 1;
}
.banner-md .banner-content::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    z-index: -1;
    backdrop-filter: blur(18px);
}
.banner-md .title {
    transition: all 0.3s ease-out 0s;
}
.banner-md .count {
    color: #d0d0d0;
}
.banner-md .product-price {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.banner-md .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.banner-md .product-price .old-price {
    font-size: 14px;
    color: #635658;
    font-family: var(--font-family-body);
}
.banner-md .btn-icon-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.banner-md .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
@media (max-width: 575.98px) {
    .banner-md .btn-icon-group .btn-icon {
        --size: 24px;
        font-size: 12px;
    }
}
.banner-md .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.banner-md:hover .title {
    color: var(--color-primary);
}

.banner-md.ratio.ratio-21-9::before {
    padding-bottom: 70%;
}

.featured-right-area .banner-md.ratio.ratio-21-9::before {
    padding-bottom: 80%;
}

@media (max-width: 575.98px) {
    .banner-md.ratio.ratio-21-9::before {
        padding-bottom: 100%;
    }
}

.banner-md::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: -2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.banner-md:hover::after {
    -webkit-animation: shine 1.4s;
    animation: shine 1.4s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
/*-----------------------------
Products Showcase
----------------------------*/
.products-showcase {
    position: relative;
    z-index: 1;
}
.products-showcase .bg-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 360px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 0, 0, 0.04);
    -webkit-text-stroke-width: 3.43px;
    -webkit-text-stroke-color: #f5edeb;
    letter-spacing: 13px;
    font-family: "Jost";
    line-height: 1;
    font-size: clamp(4.4rem, -7.8333rem + 34.6667vw, 22.5rem);
}
.products-showcase .group-card {
    width: 360px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(18px);
    border: 1px solid #dfdede;
    padding: 18px 20px;
    position: absolute;
    top: 10%;
    right: 0;
}
.products-showcase .group-card .card-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 8px;
}
.products-showcase .group-card .card-images .item {
    --size: 64px;
    height: var(--size);
    width: var(--size);
    border-radius: 8px;
    overflow: hidden;
}
.products-showcase .group-card .card-images .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 992.98px) {
    .products-showcase .group-card {
        width: 255px;
    }
    .products-showcase .group-card .card-images {
        column-gap: 8px;
    }
    .products-showcase .group-card .card-images .item {
        --size: 42px;
    }
}
@media (max-width: 768.98px) {
    .products-showcase .group-card {
        padding: 8px 10px;
        width: 220px;
    }
}
@media (max-width: 480.98px) {
    .products-showcase .group-card {
        display: none;
    }
}

/*-----------------------------
Featured Section v9
----------------------------*/

.featured-section-v9 .featured-left-area .section-heading-area {
    max-width: 550px;
}

@media (max-width: 992.98px) {
    .featured-left-area {
        margin-bottom: 100px;
    }
}

@media (min-width: 1199.98px) {
    .featured-right-area {
        padding-inline-start: 50px;
    }
}

.featured-single-slider-wrapper {
    position: relative;
}
.featured-single-slider-wrapper .featured-single-slide {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.featured-single-slider-wrapper .featured-single-slide .banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 18px 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    height: max-content;
    z-index: 1;
}
.featured-single-slider-wrapper .featured-single-slide .banner-content::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    z-index: -1;
    backdrop-filter: blur(18px);
}
.featured-single-slider-wrapper .featured-single-slide .title {
    color: #fff;
    transition: all 0.2s ease;
}
.featured-single-slider-wrapper .featured-single-slide .title:hover {
    color: var(--color-primary);
}
.featured-single-slider-wrapper .featured-single-slide .title a {
    color: currentColor;
}
.featured-single-slider-wrapper .featured-single-slide .product-price {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.featured-single-slider-wrapper
    .featured-single-slide
    .product-price
    .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-white);
}
.featured-single-slider-wrapper
    .featured-single-slide
    .product-price
    .old-price {
    font-size: 14px;
    color: #b3b3b3;
    font-family: var(--font-family-body);
}
.featured-single-slider-wrapper .featured-single-slide .btn-icon-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.featured-single-slider-wrapper
    .featured-single-slide
    .btn-icon-group
    .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
@media (max-width: 575.98px) {
    .featured-single-slider-wrapper
        .featured-single-slide
        .btn-icon-group
        .btn-icon {
        --size: 24px;
        font-size: 12px;
    }
}
.featured-single-slider-wrapper
    .featured-single-slide
    .btn-icon-group
    .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.featured-single-slider-wrapper .btn-icon {
    border: 1px solid #bfbfbf;
    background: #fff;
    border-radius: 50%;
    color: #635658;
    transition: all 0.3s ease;
}
.featured-single-slider-wrapper .slider-prev {
    position: absolute;
    left: -15px;
    top: 30%;
    top: 50%;
    transform: translateY(-50%);
}
.featured-single-slider-wrapper .slider-next {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 992.98px) {
    .featured-section-v9-style-2 .featured-img {
        margin-inline-end: -100px;
    }
}
.featured-section-v9-style-2 .product-default-9-inline {
    background: #fff;
    border: 1px solid #dfdede;
    padding: 14px 12px;
    border-radius: 10px;
}
.featured-section-v9-style-2 .slick-dotted.slick-slider {
    margin-bottom: 0px;
    padding-bottom: 80px;
}
@media (max-width: 768.98px) {
    .featured-section-v9-style-2 .slick-dotted.slick-slider {
        padding-bottom: 40px;
    }
}

/* -----------------------------------------
    Nav Tabs CSS
----------------------------------------- */
.tabs-navigation {
    background: #fff;
}
.tabs-navigation .nav-tabs {
    display: inline-flex;
    border: none;
    z-index: 1;
    position: relative;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: unset;
}
.tabs-navigation .nav-tabs .nav-link {
    font-size: 1rem;
    font-weight: 500;
    padding: 9px 20px;
    color: var(--bs-body-color);
    transition: all 0.4s ease;
    border: 1px solid var(--border);
    background: transparent;
    margin: 0;
    z-index: 1;
    cursor: pointer;
    background: 0;
}
.tabs-navigation .nav-tabs .nav-link.active {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
}

.tabs-navigation .nav[data-hover="fancyHover"] .nav-item {
    z-index: 2;
}

.tabs-navigation .nav li {
    flex: 0 0 auto;
}

.tabs-navigation .nav .nav-link:is(.active, :hover) {
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 6px;
}

.tabs-navigation .nav[data-hover="fancyHover"] .nav-item:is(.active) .nav-link {
    color: var(--color-white);
    background: var(--color-primary) !important;
    border-radius: 6px;
}

.tabs-navigation
    .nav[data-hover="fancyHover"]
    .nav-item:is(.active)
    .nav-link:is(:hover) {
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 6px;
}

.tabs-navigation .target {
    position: absolute;
    background: var(--color-primary);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
}

.tab-pane.fade {
    transition: all 0.2s;
    transform: translateY(1rem);
}

.tab-pane.fade.show {
    transform: translateY(0rem);
}

.tabs-navigation {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 14px;
}

/* Firefox */
.tabs-navigation {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--color-primary-rgb), 0.9) var(--color-primary);
    scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
.tabs-navigation::-webkit-scrollbar {
    height: 3px;
}

.tabs-navigation::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 10px;
}

.tabs-navigation::-webkit-scrollbar-thumb {
    background: rgba(var(--color-primary-rgb), 0.9);
    border-radius: 10px;
}

.tabs-navigation::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-primary-rgb), 1);
}

.tabs-navigation-5 .nav-tabs .nav-link {
    border-radius: 8px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: transparent;
    padding: 13px 20px;
}
.tabs-navigation-5 .target {
    border-radius: 8px !important;
}
.tabs-navigation-5 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 8px !important;
}

/*-----------------------------
Footer css
----------------------------*/
.footer-v7 .footer-widget .social-link a {
    color: #fff !important;
    background: var(--color-primary);
    border-radius: 50%;
    transition: 0.3s;
}
.footer-v7 .footer-widget .social-link a:hover {
    transform: translateY(-4px);
}
.footer-v7 .footer-widget .social-link a.facebook {
    background: #1877f2;
}
.footer-v7 .footer-widget .social-link a.instagram {
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
}
.footer-v7 .footer-widget .social-link a.twitter {
    background: #000;
}
.footer-v7 .footer-widget .social-link a.pinterest {
    background: #e60023;
}
.footer-v7 .footer-widget p {
    color: var(--color-gray-1);
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-v7 .border-top-medium {
    border-color: #d7d7d7;
}

/*# sourceMappingURL=home-9.css.map */

.bx-wrapper i {
    max-width: 100%;
    display: block;
}
