/*   

  * This file contains the styling for the Home Variation Seven, this
  is the file you need to edit to change the look of the
  template.

******************************************************
*****************************************************/

/* -----------------------------------------
    Typography CSS
----------------------------------------- */

:root {
    --font-family-base: "Merriweather", serif !important;
    --font-family-body: "Jost", sans-serif !important;
    --color-primary: #ce967e;
    --color-primary-rgb: 206, 105, 126;
    --color-dark: #19110a;
    --color-gray-1: #635658;
    --border: #dfdede;
}
body {
    font-family: var(--font-family-body), var(--font-family-base);
    font-size: var(--font-size);
    color: var(--color-gray-1);
}
.ratio.ratio-1-4::before {
    padding-bottom: 135.14%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-family-base);
    color: var(--color-dark);
    line-height: 1.2;
}

h1 {
    font-weight: var(--font-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-semi-bold);
}

h1,
.h1 {
    font-size: 64px;
    font-size: clamp(2rem, 0.6667rem + 2.7778vw, 4rem);
}

h2 {
    font-size: 48px;
}

.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ul {
    padding-inline-start: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    line-height: 1;
}

.text,
p {
    line-height: 1.5;
    color: var(--color-gray-1);
}

.text-xsm {
    font-size: var(--font-xsm) !important;
}

.text-sm {
    font-size: var(--font-sm) !important;
}

.text-lg {
    font-weight: var(--font-medium);
    font-size: var(--font-lg);
}

.overfollow-hidden {
    overflow: hidden;
}

.gap-10 {
    gap: 10px;
}

a {
    color: var(--color-dark);
    font-weight: var(--font-medium);
    transition: 0.5s ease;
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: none;
        transition: 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

/* BUtton light css */
.btn-light {
    border-width: 0;
    background-color: var(--color-white);
    transition: background 0.3s ease-out;
    z-index: 1;
    padding: 9px 16px;
}
.btn-light::before,
.btn-light::after {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-gray-1);
    transition: all 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.btn-light::after {
    transition-delay: 0.3s;
}
.btn-light:hover {
    color: var(--color-primary);
    border-color: var(--color-white);
    background-color: var(--color-white);
}
.btn-light:hover::before,
.btn-light:hover::after {
    opacity: 0.12;
    left: 0;
    visibility: visible;
}
.btn-light.shadow {
    box-shadow: 0px 8px 30px rgba(var(--color-white-rgb), 0.3) !important;
}
/* BUtton light css end */

@media only screen and (max-width: 992.99px) {
    h1,
    .h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 38px;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .pt-100 {
        padding-top: 50px !important;
    }

    .ptb-100 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .pb-70 {
        padding-bottom: 40px !important;
    }

    .pt-70 {
        padding-top: 40px !important;
    }
}

@media only screen and (max-width: 768.99px) {
    .pb-100 {
        padding-bottom: 40px !important;
    }

    .pt-100 {
        padding-top: 40px !important;
    }

    .ptb-100 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .pb-70 {
        padding-bottom: 30px !important;
    }
}

@media only screen and (max-width: 575.99px) {
    h2 {
        font-size: 32px;
    }

    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480.99px) {
    .pb-70 {
        padding-bottom: 20px !important;
    }

    .pt-70 {
        padding-bottom: 20px !important;
    }
}

@media (min-width: 1198.98px) {
    .container-xl-fluid {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 540px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 715px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 715px) / 2);
    }
}

@media (min-width: 992px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 950px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 950px) / 2);
    }
}

@media (min-width: 1140.99px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1140px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1440px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1440px) / 2);
    }
}

.fw-black {
    font-weight: 800;
}

.fw-semibold {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.radius-30 {
    border-radius: 30px;
}

.h5,
h5 {
    line-height: 1.5;
}
.text,
p {
    line-height: 1.5;
    color: var(--color-gray-1);
}

.rate {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
    height: 16px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 110px;
    overflow: hidden;
}

.rating {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 16px;
}

.ratings-total {
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}

:is(.lc-1, .lc-2, .lc-3, .lc-4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.lc-1 {
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
}

.lc-2 {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}

.lc-3 {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
}

.lc-4 {
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
}

.slick-slider {
    -webkit-user-select: inherit;
    user-select: inherit;
}

.space-nowrap {
    white-space: nowrap;
}

/* ---------------- */
.fw-black {
    font-weight: 800;
}

.fw-semibold {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.radius-30 {
    border-radius: 30px;
}

@media (min-width: 1400.98px) {
    .h2 {
        font-size: 36px;
    }
}
.h5,
h5 {
    line-height: 1.5;
}

.rate {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
    height: 16px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 110px;
    overflow: hidden;
}

.rating {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 16px;
}

.ratings-total {
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}

:is(.lc-1, .lc-2, .lc-3, .lc-4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.lc-1 {
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
}

.lc-2 {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}

.lc-3 {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
}

.lc-4 {
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
}

.slick-slider {
    -webkit-user-select: inherit;
    user-select: inherit;
}

.space-nowrap {
    white-space: nowrap;
}

.row-gap-20 {
    row-gap: 20px;
}

/* -----------------------------------------
header CSS
----------------------------------------- */
.header.header-v8 {
    background: #fff;
}
.header.header-v8 .header-top {
    margin-bottom: 0px;
    background: rgba(var(--color-primary-rgb), 0.1);
    background: #f5f0ed;
}
.header.header-v8 .header-middle {
    background: #fff;
    margin-bottom: 0;
}
.header.header-v8 .mobile-navbar .mobile-navbar-inner {
    border-radius: 30px;
    padding: 0 12px;
    background: #fff;
}
.header.header-v8 .menu .nav-link {
    padding: 20px 15px;
    font-weight: 500;
    color: var(--color-gray-1);
}
.header.header-v8 .menu-search form {
    position: relative;
}
.header.header-v8 .menu-search .search-text {
    position: absolute;
    right: -10px;
    top: -13px;
    transition: width 0.5s ease, opacity 0.3s;
    height: 45px;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ff0000;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    width: 0;
    background: #fff;
    z-index: 2;
}
.header.header-v8 .menu-search .search-btn {
    position: relative;
    z-index: 3;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: none;
    top: -1px;
    transition: all 0.3s;
}
.header.header-v8 .menu-search .search-btn i {
    font-weight: 300;
}
.header.header-v8 .menu-search .search-btn:hover {
    color: var(--color-primary);
}
.header.header-v8 .menu-search.menuSearchactive .search-text {
    visibility: visible;
    opacity: 1;
    width: 220px;
    padding: 5px 40px 5px 20px;
    border-color: var(--color-primary);
}

/*---------------------------------
Home Hero Start
----------------------------*/
.home-hero-8 {
    padding: 120px 0 120px 0;
    position: relative;
    overflow: hidden;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}
.home-hero-8 .hero-card-wrapper {
    background: rgba(255, 255, 255, 0.9);
    max-width: 500px;
    margin-inline: auto;
    padding: 24px;
}
.home-hero-8 .hero-card-wrapper .hero-card {
    padding: 20px 20px 0px 20px;
    outline: 1px solid var(--color-primary);
    text-align: center;
}
.home-hero-8 .hero-card-wrapper .btn {
    font-weight: 600;
    padding: 10px 20px;
}

/*-----------------------------
featured-8
----------------------------*/
.featured-8 .featured-item-wrap {
    border: 1px solid var(--border);
    padding: 40px 0 0px 0;
    border-top: 0;
}
.featured-8 .featured-item {
    text-align: center;
    padding: 0 70px;
    font-size: 14px;
}
.featured-8 .featured-item .icon {
    font-size: 52px;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    margin-inline: auto;
    margin-bottom: 10px;
}

/*-----------------------------
category-8
----------------------------*/
.category-8 {
    overflow: hidden;
}
.category-8 .category-item {
    position: relative;
    overflow: hidden;
}
.category-8 .category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 400ms ease-out 0s;
}
.category-8 .category-item img:nth-child(1) {
    -webkit-transform: translatex(50%) scalex(1);
    transform: translatex(50%) scalex(1);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.category-8 .category-item img:nth-child(2) {
    -webkit-transform: translatex(0%) scalex(1);
    transform: translatex(0%) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 199;
}
.category-8 .category-item .content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(25, 17, 10, 0.5);
    z-index: 1;
    width: 90%;
    padding: 6px 20px;
}
.category-8 .category-item .title {
    color: var(--color-white);
    transition: all 0.3s ease-out 0s;
}
.category-8 .category-item .count {
    color: #d0d0d0;
}
.category-8 .vertical-title .title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    font-size: 32px;
    height: 345px;
    margin: 0;
    position: relative;
}
.category-8 .vertical-title .title .line {
    content: "";
    position: absolute;
    width: 78px;
    height: 2px;
    background: var(--color-primary);
    transform: rotate(90deg);
    right: 21px;
    top: 60%;
}
@media (max-width: 1400px) {
    .category-8 .vertical-title .title {
        font-size: 24px;
        height: 223px;
    }
    .category-8 .vertical-title .title .line {
        right: 8px;
        top: 77%;
    }
}
.category-8 .category-item:hover .title {
    color: var(--color-primary);
}
.category-8 .category-item:hover img:nth-child(2) {
    -webkit-transform: translatex(-50%) scalex(2);
    transform: translatex(-50%) scalex(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.category-8 .category-item:hover img:nth-child(1) {
    -webkit-transform: translatex(0) scalex(1);
    transform: translatex(0) scalex(1);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}
@media (max-width: 991px) {
    .category-8 .vertical-title .title {
        font-size: 24px;
        height: 288px;
    }
    .category-8 .vertical-title .title .line {
        right: 7px;
    }
}
@media (max-width: 480px) {
    .category-8 .category-item .content {
        padding: 6px 10px;
    }
    .category-8 .vertical-title .title {
        font-size: 20px;
        max-height: 210px;
    }
    .category-8 .vertical-title .title .line {
        top: 71%;
        right: 0px;
    }
}

.left_right_slide_anim.line::before {
    animation: left_right_slide_anim 2.5s linear infinite alternate none;
    right: unset;
}

@keyframes left_right_slide_anim {
    0% {
        left: 0px;
    }
    100% {
        left: calc(100% - 5px);
    }
}

.header.header-v8 .header-top .header-right {
    text-align: right;
}
.category-slider {
    padding-bottom: 50px;
}
.category-slider .slick-dots {
    bottom: -10px;
}

/* -----------------------------------------
    Nav Tabs CSS
----------------------------------------- */
.tabs-navigation {
    background: #fff;
}
.tabs-navigation .nav-tabs {
    display: inline-flex;
    border: none;
    z-index: 1;
    position: relative;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: unset;
}
.tabs-navigation .nav-tabs .nav-link {
    font-size: 1rem;
    font-weight: 500;
    padding: 9px 20px;
    color: var(--bs-body-color);
    transition: all 0.4s ease;
    border: 1px solid var(--border);
    background: transparent;
    margin: 0;
    z-index: 1;
    cursor: pointer;
    background: 0;
}
.tabs-navigation .nav-tabs .nav-link.active {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
}

.tabs-navigation .nav[data-hover="fancyHover"] .nav-item {
    z-index: 2;
}

.tabs-navigation .nav li {
    flex: 0 0 auto;
}

.tabs-navigation .nav .nav-link:is(.active, :hover) {
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 6px;
}

.tabs-navigation .nav[data-hover="fancyHover"] .nav-item:is(.active) .nav-link {
    color: var(--color-white);
    background: var(--color-primary) !important;
    border-radius: 6px;
}

.tabs-navigation
    .nav[data-hover="fancyHover"]
    .nav-item:is(.active)
    .nav-link:is(:hover) {
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 6px;
}

.tabs-navigation .target {
    position: absolute;
    background: var(--color-primary);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
}

.tab-pane.fade {
    transition: all 0.2s;
    transform: translateY(1rem);
}

.tab-pane.fade.show {
    transform: translateY(0rem);
}

.tabs-navigation {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 14px;
}

/* Firefox */
.tabs-navigation {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--color-primary-rgb), 0.9) var(--color-primary);
    scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
.tabs-navigation::-webkit-scrollbar {
    height: 3px;
}

.tabs-navigation::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 10px;
}

.tabs-navigation::-webkit-scrollbar-thumb {
    background: rgba(var(--color-primary-rgb), 0.9);
    border-radius: 10px;
}

.tabs-navigation::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-primary-rgb), 1);
}

.tabs-navigation-4 .nav-tabs .nav-link {
    border-radius: 0px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: transparent;
    padding: 13px 20px;
}
.tabs-navigation-4 .target {
    border-radius: 0px !important;
}
.tabs-navigation-4 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 0px !important;
}

/*---------------------------------
product-default css
----------------------------*/
.product-default-8 {
    border: none;
    overflow: hidden;
    position: relative;
}
.product-default-8 .product-img {
    overflow: hidden;
}
.product-default-8 .product-img img {
    max-width: 100%;
    transition: all 0.4s cubic-bezier(0, 0, 0.05, 1);
}
.product-default-8 .product-img .hover-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-default-8 .product-details {
    padding: 22px 20px;
    border: 1px solid var(--border);
    border-top: 0;
}
.product-default-8 .btn-icon-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: -40px;
}
.product-default-8 .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-8 .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.product-default-8 .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 18px;
    color: var(--color-white);
    border-radius: 20px 0px 20px 20px;
    left: 0;
    border-radius: 0px 0px 20px 0px;
    z-index: 1;
    font-size: 14px;
}

.product-default-8 .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}

.product-default-8 .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 18px;
    color: var(--color-white);
    border-radius: 20px 0px 20px 20px;
    left: 0;
    border-radius: 17px 0px 20px 0px;
    z-index: 1;
    font-size: 14px;
}

.product-default-8:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-8:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-8:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}
.product-default-8 .product-price {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-8 .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.product-default-8 .product-price .old-price {
    font-size: 14px;
    color: #635658;
    font-family: var(--font-family-body);
}

.product-default-8 .product-countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: left;
}

.product-default-8 .product-countdown .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    background-color: var(--color-light-1);
    color: var(--color-dark);
    font-weight: var(--font-medium);
    font-size: 10px;
}

.product-default-8 .product-countdown span:first-child {
    font-size: var(--font-xsm);
    margin-bottom: 5px;
}

.product-default-8 .product-countdown .count:not(:last-child) {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
}

.product-default-8 .product-countdown .count-value {
    font-size: var(--font-xsm);
    margin-bottom: 5px;
}

.product-default-8 .product-countdown .count-period {
    color: var(--color-primary);
}

/* hover effect */
.product-default-8 .btn-icon-group-area {
    position: relative;
    margin-top: -42px;
}
.product-default-8 .btn-icon-group-area .hover-hide {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.product-default-8:hover .btn-icon-group-area .hover-hide {
    opacity: 0;
    visibility: hidden;
    background: transparent !important;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.product-default-8 .btn-icon-group-area .hover-show {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product-default-8:hover .btn-icon-group-area .hover-show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
    transform: translate(0);
}
/* hover effect end */

.flash-sale-section .product-default-8 .btn-icon-group-area {
    margin-top: -42px;
}
.flash-sale-section .product-default-8 .btn-icon-group-area .btn-icon-group {
    margin-top: 0px;
}

@media (max-width: 768px) {
    .flash-sale-section .product-default-8 .btn-icon-group-area {
        margin-top: -30px;
    }
    .flash-sale-section
        .product-default-8
        .btn-icon-group-area
        .btn-icon-group {
        margin-top: 0px;
    }
    .flash-sale-section .product-default-8 .btn-icon-group .btn-icon {
        --size: 30px;
        font-size: 13px;
    }
    .product-default-8 .product-details {
        padding: 10px 10px 20px 10px;
    }
    .product-default-8 .btn-icon-group {
        margin-top: -25px;
    }
    .product-default-8 .btn-icon-group .btn-icon {
        --size: 25px;
        font-size: 12px;
    }
}

/* ----------------------------------- */
/* ------ highlight-card start ------- */
/* ---------------------------------- */

.highlight-card {
    background: #ead7c3;
    position: relative;
    height: calc(100% - 30px);
}

.highlight-card .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}

.highlight-card .img-outside {
    text-align: center;
}
.highlight-card .img-outside img {
    transform: scale(1.24);
    transition: all 0.4s ease-in-out;
    width: 90%;
}
.highlight-card .highlight-card-area {
    background: #ead7c3;
    padding: 22px 20px;
}
.highlight-card .product-details {
    padding: 22px 20px;
    border: 1px solid var(--border);
    border-top: 0;
}

.highlight-card .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.highlight-card .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.highlight-card .product-countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: left;
}

.highlight-card .product-countdown .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    background-color: var(--color-light-1);
    color: var(--color-dark);
    font-weight: var(--font-medium);
    font-size: 10px;
}

.highlight-card .product-countdown span:first-child {
    font-size: var(--font-xsm);
    margin-bottom: 5px;
}

.highlight-card .product-countdown .count:not(:last-child) {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
}

.highlight-card .product-countdown .count-value {
    font-size: var(--font-xsm);
    margin-bottom: 5px;
}

.highlight-card .product-countdown .count-period {
    color: var(--color-primary);
}

.highlight-card:hover .img-outside img {
    transform: scale(1.4);
}
.highlight-card .btn-icon-group-area {
    position: relative;
}
.highlight-card .btn-icon-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

/* hover effect */
.highlight-card .btn-icon-group-area .hover-hide {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.highlight-card:hover .btn-icon-group-area .hover-hide {
    opacity: 0;
    visibility: hidden;
    background: transparent !important;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.highlight-card .btn-icon-group-area .hover-show {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.highlight-card:hover .btn-icon-group-area .hover-show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
    transform: translate(0);
}
/* hover effect end */

.highlight-card .product-price {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.highlight-card .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.highlight-card .product-price .old-price {
    font-size: 14px;
    color: #635658;
    font-family: var(--font-family-body);
}

/* ----------------------------------- */
/* -------- highlight-card end----------- */
/* ---------------------------------- */

.product-default-8.product-default-style-2 {
    background: #f8f6f5;
}
.product-default-8.product-default-style-2 .btn-icon-group {
    margin-top: -75px;
}
@media (max-width: 768px) {
    .product-default-8.product-default-style-2 .btn-icon-group {
        margin-top: -35px;
    }
}

.product-default-8-inline {
    display: flex;
    align-items: center;
    gap: 14px;
}
.product-default-8-inline .product-img {
    max-width: 48%;
    width: 100%;
    overflow: hidden;
}
.product-default-8-inline .product-img img {
    width: 100%;
}
.product-default-8-inline .product-img .hover-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-default-8-inline .product-category {
    display: inline-block;
    font-size: var(--font-sm);
    margin-bottom: 4px;
    font-weight: 500;
}
.product-default-8-inline .product-details {
    max-width: 50%;
    width: 100%;
    padding-inline-end: 15px;
}
.product-default-8-inline .btn-icon-group {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}
.product-default-8-inline .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-8-inline .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.product-default-8-inline .product-price {
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-8-inline .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.product-default-8-inline .product-price .old-price {
    font-size: 14px;
}
.product-default-8-inline:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-8-inline:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-8-inline:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 768.98px) {
    .product-default-8-inline {
        flex-direction: column;
    }
    .product-default-8-inline .product-img {
        max-width: 100%;
        width: 100%;
    }
    .product-default-8-inline .product-details {
        max-width: 100%;
        width: 100%;
        padding-inline-end: 0;
        padding-bottom: 15px;
    }
    .product-default-8-inline .btn-icon-group .btn-icon {
        --size: 30px;
    }
}
@media (max-width: 768.98px) {
    .product-default-8-inline .btn-icon-group .btn-icon {
        --size: 27px;
        font-size: 14px;
    }
}
@media (max-width: 420.98px) {
    .product-default-8-inline {
        flex-direction: column;
    }
    .product-default-8-inline .product-img {
        max-width: 100%;
    }
    .product-default-8-inline .product-details {
        max-width: 100%;
    }
}

/*---------------------------------
Banner Md
----------------------------*/
.banner-md {
    position: relative;
    overflow: hidden;
}
.banner-md .banner-content {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    top: unset;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    height: max-content;
}
.banner-md .title {
    color: var(--color-white);
    transition: all 0.3s ease-out 0s;
}
.banner-md .count {
    color: #d0d0d0;
}
.banner-md:hover .title {
    color: var(--color-primary);
}

.banner-md.ratio.ratio-21-9::before {
    padding-bottom: 40%;
}

.banner-md::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: -2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.banner-md:hover::after {
    -webkit-animation: shine 1.4s;
    animation: shine 1.4s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .banner-md.ratio.ratio-21-9::before {
        padding-bottom: 60%;
    }
}
@media (max-width: 460px) {
    .banner-md.ratio.ratio-21-9::before {
        padding-bottom: 60%;
    }
}
/*---------------------------------
Banner xl
----------------------------*/
.banner-xl {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner-xl .content-inner {
    padding: 35px 24px;
}
.banner-xl .content-inner .title {
    color: #fff;
}
.banner-xl .content-inner span {
    color: #d0d0d0;
}
.banner-xl::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.88) 18.59%,
        rgba(0, 0, 0, 0) 85.47%
    );
    z-index: -1;
}

.banner-xl::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: -2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.banner-xl:hover::after {
    -webkit-animation: shine 2.5s;
    animation: shine 2.5s;
}

/*---------------------------------
Banner lg
----------------------------*/
.banner-lg .banner-content {
    padding: 45px 25px;
    max-width: 71%;
}
.banner-lg .product-countdown-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-lg .product-countdown-area span {
    color: #635658;
}
.banner-lg .product-countdown-area .product-countdown {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.banner-lg .product-countdown-area .product-countdown .count {
    background-color: #fff;
    padding: 8px 8px;
    height: auto;
    width: auto;
    border: 1px solid #dfdede;
    line-height: 1;
}
.banner-lg .product-countdown-area .product-countdown .count .count-value {
    font-size: var(--font-xsm);
    font-weight: 500;
}

.banner-lg.ratio.ratio-1-1::before {
    padding-bottom: 106%;
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 134%;
    }
}
@media (max-width: 1199.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 35%;
    }
}
@media (max-width: 992.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 50%;
    }
}
@media (max-width: 768.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 75%;
    }
}
@media (max-width: 575.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 67%;
    }
    .banner-lg .banner-content {
        padding: 30px 15px;
        max-width: 100%;
    }
}
@media (max-width: 480.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 75%;
    }
}
@media (max-width: 420.98px) {
    .banner-lg.ratio.ratio-1-1::before {
        padding-bottom: 100%;
    }
}
/*-----------------------------
Products-tab-8
----------------------------*/
.products-tab-8 .products-tab-area {
    position: relative;
    z-index: 1;
    padding: 0 18px;
}
.products-tab-8 .products-tab-area .tabs-navigation {
    width: 90%;
}
.products-tab-8 .products-tab-area::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: calc(100% - 110px);
    width: 100%;
    border: 1px solid #dfdede;
    z-index: -1;
}
@media (max-width: 768px) {
    .products-tab-8 .products-tab-area {
        padding: 0 0px;
    }
    .products-tab-8 .products-tab-area::before {
        display: none;
    }
}

.products-section-v7 .banner-lg .banner-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-end: 120px;
    max-width: 100%;
}
@media (max-width: 575px) {
    .products-section-v7 .banner-lg .banner-content {
        padding-inline-end: 20px;
    }
}
/*-----------------------------
Footer css
----------------------------*/
.footer-v7 .footer-widget .social-link a {
    color: #fff !important;
    background: var(--color-primary);
    border-radius: 50%;
    transition: 0.3s;
}
.footer-v7 .footer-widget .social-link a:hover {
    transform: translateY(-4px);
}
.footer-v7 .footer-widget .social-link a.facebook {
    background: #1877f2;
}
.footer-v7 .footer-widget .social-link a.instagram {
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
}
.footer-v7 .footer-widget .social-link a.twitter {
    background: #000;
}
.footer-v7 .footer-widget .social-link a.pinterest {
    background: #e60023;
}
.footer-v7 .footer-widget p {
    color: var(--color-gray-1);
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-v7 .border-top-medium {
    border-color: #d7d7d7;
}
.featured-item .icon i.far {
    font-weight: 200;
}
.w-90 {
    width: 90px;
}
.h-45px {
    height: 45px;
}

@media (max-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 540px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 715px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 715px) / 2);
    }
}

@media (min-width: 992px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 950px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 950px) / 2);
    }
}

@media (min-width: 1140.99px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1140px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1440px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1440px) / 2);
    }
}
/*# sourceMappingURL=home-8.css.map */
.footer-area .footer-widget .footer-links li span {
    line-height: 1.5;
}
.copy-right-area p {
    font-family: var(--font-family-body);
}
