/*   

  * This file contains the styling for the Home Variation Seven, this
  is the file you need to edit to change the look of the
  template.

******************************************************
*****************************************************/

/* -----------------------------------------
    Typography CSS
----------------------------------------- */

:root {
    --font-family-base: "Nunito", sans-serif !important;
    --font-family-body: "Nunito", sans-serif !important;
    --color-primary: #ff7844;
    --color-primary-rgb: 255, 120, 68;
    --color-dark: #19110a;
    --color-gray-1: #635658;
}

body {
    font-family: var(--font-family-body), var(--font-family-base);
    font-size: var(--font-size);
    color: var(--color-gray-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-family-base);
    color: var(--color-dark);
    line-height: 1.2;
}

h1 {
    font-weight: var(--font-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-semi-bold);
}

h1,
.h1 {
    font-size: 64px;
    font-size: clamp(2rem, 0.6667rem + 2.7778vw, 4rem);
}

h2 {
    font-size: 48px;
}

.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

ul {
    padding-inline-start: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    line-height: 1;
}

.text,
p {
    line-height: 1.5;
    color: var(--color-gray-1);
}

.text-xsm {
    font-size: var(--font-xsm) !important;
}

.text-sm {
    font-size: var(--font-sm) !important;
}

.text-lg {
    font-weight: var(--font-medium);
    font-size: var(--font-lg);
}

.overfollow-hidden {
    overflow: hidden;
}

.gap-10 {
    gap: 10px;
}

a {
    color: var(--color-dark);
    font-weight: var(--font-medium);
    transition: 0.5s ease;
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: none;
        transition: 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

@media only screen and (max-width: 992.99px) {
    h1,
    .h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 38px;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .pt-100 {
        padding-top: 50px !important;
    }

    .ptb-100 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .pb-70 {
        padding-bottom: 40px !important;
    }

    .pt-70 {
        padding-top: 40px !important;
    }
}

@media only screen and (max-width: 768.99px) {
    .pb-100 {
        padding-bottom: 40px !important;
    }

    .pt-100 {
        padding-top: 40px !important;
    }

    .ptb-100 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .pb-70 {
        padding-bottom: 30px !important;
    }
}

@media only screen and (max-width: 575.99px) {
    h2 {
        font-size: 32px;
    }

    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480.99px) {
    .pb-70 {
        padding-bottom: 20px !important;
    }

    .pt-70 {
        padding-bottom: 20px !important;
    }
}

@media (min-width: 1198.98px) {
    .container-xl-fluid {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 540px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 715px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 715px) / 2);
    }
}

@media (min-width: 992px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 950px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 950px) / 2);
    }
}

@media (min-width: 1140.99px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1140px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1140px) / 2);
    }
}

@media (min-width: 1400px) {
    .fluid-left {
        padding-inline-start: calc((100vw - 1440px) / 2);
    }

    .fluid-right {
        padding-inline-end: calc((100vw - 1440px) / 2);
    }
}

.fw-black {
    font-weight: 800;
}

.fw-semibold {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.radius-30 {
    border-radius: 30px;
}

.h5,
h5 {
    line-height: 1.5;
}
.text,
p {
    line-height: 1.5;
    color: var(--color-gray-1);
}

.rate {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
    height: 16px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 110px;
    overflow: hidden;
}

.rating {
    background-image: url(../../images/home-7-rate-star.png);
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 16px;
}

.ratings-total {
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-top: 2px;
}

:is(.lc-1, .lc-2, .lc-3, .lc-4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.lc-1 {
    -webkit-line-clamp: 1 !important;
    line-clamp: 1 !important;
}

.lc-2 {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}

.lc-3 {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
}

.lc-4 {
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
}

.slick-slider {
    -webkit-user-select: inherit;
    user-select: inherit;
}

.space-nowrap {
    white-space: nowrap;
}

/* -----------------------------------------
header CSS
----------------------------------------- */
.header.header-v7 .header-top {
    margin-bottom: 30px;
    background: #fff;
}
.header.header-v7 .header-middle > div {
    background: #fff;
    border-radius: 30px;
    padding: 3px 20px;
}
.header.header-v7 .mobile-navbar .mobile-navbar-inner {
    border-radius: 30px;
    padding: 0 12px;
    background: #fff;
}
.header.header-v7 .menu-search form {
    position: relative;
}
.header.header-v7 .menu-search .search-text {
    position: absolute;
    right: -10px;
    top: -13px;
    transition: width 0.5s ease, opacity 0.3s;
    height: 45px;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ff0000;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    width: 0;
    background: #fff;
    z-index: 2;
}
.header.header-v7 .menu-search .search-btn {
    position: relative;
    z-index: 3;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: none;
    top: -1px;
    transition: all 0.3s;
}
.header.header-v7 .menu-search .search-btn i {
    font-weight: 300;
}
.header.header-v7 .menu-search .search-btn:hover {
    color: var(--color-primary);
}
.header.header-v7 .menu-search.menuSearchactive .search-text {
    visibility: visible;
    opacity: 1;
    width: 220px;
    padding: 5px 40px 5px 20px;
    border-color: var(--color-primary);
}

.page-title-area {
    position: relative;
    padding: 180px 0 45px;
}

@media (max-width: 1199.98px) {
    .page-title-area {
        position: relative;
        padding: 150px 0 45px;
    }
    .header-v7.header-fixed {
        top: 30px;
    }
    .header-v7.header-fixed .mobile-navbar {
        box-shadow: none;
    }
}

/*---------------------------------
Home Hero Start
----------------------------*/
.home-hero-7 {
    padding: 260px 0 160px 0;
    position: relative;
    overflow: hidden;
    background-position: bottom center !important;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.home-hero-7 .hero-image {
    position: absolute;
    right: 28px;
    bottom: 6%;
    width: 50%;
    text-align: right;
}
.home-hero-7 .btn {
    background: #fff;
    color: var(--color-primary);
    padding: 12px 58px;
}
.home-hero-7 .btn-primary::after,
.home-hero-7 .btn-primary::before {
    background: var(--color-gray-1);
}
.home-hero-7 .description {
    margin-bottom: 50px;
}
.home-hero-7 .shape-1 {
    position: absolute;
    top: 40px;
    left: 0;
}
.home-hero-7 .shape-2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.home-hero-7 .shape-3 {
    position: absolute;
    bottom: 115px;
    left: 0;
}
.home-hero-7 .shape-4 {
    position: absolute;
    bottom: 8%;
    left: 18%;
    animation: rotate 12s linear infinite;
}
.home-hero-7 .shape-5 {
    position: absolute;
    bottom: 15%;
    left: 35%;
    animation: moveUpDown 5s linear infinite;
}
.home-hero-7 .shape-6 {
    position: absolute;
    bottom: 28%;
    left: 54%;
    animation: moveUpDown 4s linear infinite;
}
.home-hero-7 .shape-7 {
    position: absolute;
    top: 0;
    right: 0;
}
.home-hero-7 .shape-8 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
@media (max-width: 1199.98px) {
    .home-hero-7 {
        padding: 180px 0 160px 0;
    }
}
@media (max-width: 992.98px) {
    .home-hero-7 {
        padding: 160px 0 50px 0;
    }
    .home-hero-7 .content {
        margin-bottom: 30px;
    }
    .home-hero-7 .description {
        margin-bottom: 30px;
    }
    .home-hero-7 .hero-image {
        position: inherit;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 575.98px) {
    .home-hero-7 .shape-2 {
        display: none;
    }
}

/*---------------------------------
Category css
----------------------------*/
.category.category-7 {
    position: relative;
    overflow: hidden;
}
.category.category-7 .category-item {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 24px 0;
}
.category.category-7 .category-item .category-bg-image {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: -1;
    height: calc(100% - 120px);
    width: 100%;
}
.category.category-7 .category-item .category-img {
    display: inline-block;
    margin-bottom: 30px;
    transition: all 0.5s ease-out;
}
.category.category-7 .category-item .title {
    color: #19110a;
    transition: all 0.3s;
}
.category.category-7 .category-item .title:hover {
    color: var(--color-primary);
}

.category.category-7 .category-item span {
    font-weight: 600;
    font-size: 14px;
    color: #635658;
}
.category.category-7 .category-item:hover .category-img {
    transform: scale(1.2);
}
.category.category-7 .category-slider-wrapper {
    position: relative;
    overflow: hidden;
}
.category.category-7 .category-slider-wrapper .slider-btn.slider-prev {
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.category.category-7 .category-slider-wrapper .slider-btn.slider-next {
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.category.category-7:hover .slider-btn.slider-prev {
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%);
}
.category.category-7:hover .slider-btn.slider-next {
    right: 0;
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%);
}
.category.category-7 img.shape-1 {
    position: absolute;
    top: 40px;
    left: 0;
}
.category.category-7 img.shape-2 {
    position: absolute;
    left: 20%;
}
.category.category-7 img.shape-3 {
    position: absolute;
    right: 28%;
    top: 5%;
}
.category.category-7 img.shape-4 {
    position: absolute;
    right: 14%;
    top: 15%;
}
.category.category-7 img.shape-5 {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    animation: moveLeftRight 8s linear infinite;
}

@media (max-width: 992px) {
    .category.category-7 .slider-btn.slider-prev {
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: translateY(-50%);
    }
    .category.category-7 .slider-btn.slider-next {
        right: 0;
        visibility: visible;
        opacity: 1;
        transform: translateY(-50%);
    }
}

/*---------------------------------
product-default css
----------------------------*/
.product-default-7 {
    border: none;
    background: rgb(var(--color-primary-rgb), 0.1);
    background: #e5f9d0;
    padding: 20px;
    overflow: hidden;
    position: relative;
}
.product-default-7 .product-img {
    overflow: hidden;
}
.product-default-7 .product-img img {
    max-width: 100%;
    transition: all 0.4s cubic-bezier(0, 0, 0.05, 1);
}
.product-default-7 .product-img .hover-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-default-7 .btn-icon-group {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.product-default-7 .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-7 .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.product-default-7:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-7:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-7:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}
.product-default-7 .product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-7 .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.product-default-7 .product-price .old-price {
    font-size: 14px;
    color: #635658;
    font-family: var(--font-family-body);
}
.product-default-7 .product-countdown-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.product-default-7 .product-countdown-area span {
    color: #635658;
}
.product-default-7 .product-countdown-area .product-countdown {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.product-default-7 .product-countdown-area .product-countdown .count {
    background-color: #fff;
    padding: 8px 8px;
    height: auto;
    min-width: 35px;
    border: 1px solid #dfdede;
    line-height: 1;
}
.product-default-7
    .product-countdown-area
    .product-countdown
    .count
    .count-value {
    font-size: var(--font-xsm);
}

.product-default-7 .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}

/*---------------------------------
product-default-7-v2
----------------------------*/
.product-default-7-v2 {
    border: none;
    background: rgb(var(--color-primary-rgb), 0.1);
    background: #fff;
    border: 1px solid #dfdede;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0, 0, 0.05, 1);
    position: relative;
}
.product-default-7-v2 .product-img {
    overflow: hidden;
}
.product-default-7-v2 .product-img img {
    width: 100%;
}
.product-default-7-v2 .product-img .ratio.ratio-4-3::before {
    padding-bottom: 94%;
}
.product-default-7-v2 .product-img .hover-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-default-7-v2 .product-details {
    padding: 20px;
}
.product-default-7-v2 .btn-icon-group {
    margin-top: -44px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.product-default-7-v2 .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-7-v2 .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.product-default-7-v2:hover {
    border-color: var(--color-primary);
    box-shadow: 0px 5px 40px rgba(var(--color-primary-rgb), 0.1);
}
.product-default-7-v2:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-7-v2:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-7-v2:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}
.product-default-7-v2 .product-title {
    color: #635658;
}
.product-default-7-v2 .product-price {
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-7-v2 .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.product-default-7-v2 .product-price .old-price {
    font-size: 14px;
    color: #635658;
    font-family: var(--font-family-body);
}
.product-default-7-v2 .product-countdown-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.product-default-7-v2 .product-countdown-area span {
    color: #635658;
}
.product-default-7-v2 .product-countdown-area .product-countdown {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.product-default-7-v2 .product-countdown-area .product-countdown .count {
    background-color: #fff;
    padding: 8px 8px;
    height: auto;
    width: auto;
    border: 1px solid #dfdede;
    line-height: 1;
}
.product-default-7-v2
    .product-countdown-area
    .product-countdown
    .count
    .count-value {
    font-size: var(--font-xsm);
}

.product-default-9,
.product-default-7-inline {
    position: relative;
}

.product-default-9 .label-discount-percentage,
.product-default-7-inline .label-discount-percentage,
.product-default-7-v2 .label-discount-percentage {
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 30px 0 0 30px;
}
.product-default-9 .label,
.product-default-7-inline .label,
.product-default-7 .label,
.product-default-7-v2 .label {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 18px;
    color: var(--color-white);
    border-radius: 15px 0px 20px 0px;
    z-index: 1;
    font-size: 14px;
}
@media (max-width: 768px) {
    .product-default-7-v2 .product-details {
        padding: 10px 10px 20px 10px;
    }
    .product-default-7-v2 .btn-icon-group {
        margin-top: -25px;
    }
    .product-default-7-v2 .btn-icon-group .btn-icon {
        --size: 25px;
        font-size: 12px;
    }
}

.product-default-7-inline {
    display: flex;
    align-items: center;
    background: rgb(var(--color-primary-rgb), 0.1);
    background: #f0feed;
    gap: 14px;
    padding: 10px;
}
.product-default-7-inline .product-img {
    max-width: 48%;
    width: 100%;
    overflow: hidden;
}
.product-default-7-inline .product-img img {
    width: 100%;
}
.product-default-7-inline .product-img .hover-img {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s opacity, 0.4s visibility,
        transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-default-7-inline .product-category {
    display: inline-block;
    font-size: var(--font-sm);
    margin-bottom: 4px;
    font-weight: 500;
}
.product-default-7-inline .product-details {
    max-width: 50%;
    width: 100%;
    padding-inline-end: 15px;
}
.product-default-7-inline .btn-icon-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.product-default-7-inline .btn-icon-group .btn-icon {
    --size: 34px;
    height: var(--size);
    width: var(--size);
    color: #635658;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(51, 51, 51, 0.14);
    display: inline-flex;
    z-index: 2;
}
.product-default-7-inline .btn-icon-group .btn-icon:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.product-default-7-inline .product-price {
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1;
    gap: 12px;
    flex-wrap: wrap;
}
.product-default-7-inline .product-price .new-price {
    display: inline-block;
    font-size: 16px;
    color: var(--color-primary);
}
.product-default-7-inline .product-price .old-price {
    font-size: 14px;
}
.product-default-7-inline:hover .product-img img {
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}
.product-default-7-inline:hover .product-img .default-img {
    opacity: 0;
    visibility: hidden;
}
.product-default-7-inline:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 992.98px) {
    .product-default-7-inline .btn-icon-group .btn-icon {
        --size: 28px;
        font-size: 14px;
    }
}
@media (max-width: 768.98px) {
    .product-default-7-inline {
        flex-direction: column;
    }
    .product-default-7-inline .product-img {
        max-width: 100%;
    }
    .product-default-7-inline .product-details {
        max-width: 100%;
        padding-bottom: 15px;
    }
}

/*---------------------------------
flash-sale
----------------------------*/
.flash-sale-7 {
    position: relative;
    overflow: hidden;
}
.flash-sale-7 .flash-image {
    position: absolute;
    left: -60px;
    bottom: 0;
    width: 38%;
    animation: moveUpDown 5s linear infinite;
}
.flash-sale-7 img.shape-1 {
    position: absolute;
    top: 40px;
    left: -80px;
    animation: moveLeftRight 8s linear infinite;
}
.flash-sale-7 img.shape-2 {
    position: absolute;
    left: 22%;
    animation: rotate 8s linear infinite;
    bottom: 14%;
}
.flash-sale-7 img.shape-3 {
    position: absolute;
    left: 35%;
    bottom: 8%;
    animation: ripple 8s linear infinite;
}
.flash-sale-7 img.shape-4 {
    position: absolute;
    left: 34%;
    bottom: 35%;
    animation: moveAround 8s linear infinite;
}
.flash-sale-7 img.shape-5 {
    position: absolute;
    top: 40%;
    right: -20px;
    animation: moveLeftRight 8s linear infinite;
}
.flash-sale-7 img.shape-6 {
    position: absolute;
    top: 1%;
    right: -2px;
    animation: moveUpDown 8s linear infinite;
}

/*---------------------------------
Banner Md
----------------------------*/

/* BUtton light css */
.btn-light {
    border-width: 0;
    background-color: var(--color-white);
    transition: background 0.3s ease-out;
    z-index: 1;
    padding: 9px 16px;
}
.btn-light::before,
.btn-light::after {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-gray-1);
    transition: all 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.btn-light::after {
    transition-delay: 0.3s;
}
.btn-light:hover {
    color: var(--color-primary);
    border-color: var(--color-white);
    background-color: var(--color-white);
}
.btn-light:hover::before,
.btn-light:hover::after {
    opacity: 0.12;
    left: 0;
    visibility: visible;
}
.btn-light.shadow {
    box-shadow: 0px 8px 30px rgba(var(--color-white-rgb), 0.3) !important;
}
/* BUtton light css end */

.banner-md {
    position: relative;
}
.banner-md .banner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 50%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.banner-md.ratio.ratio-21-9::before {
    padding-bottom: 40%;
}

.banner-md::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: -2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.banner-md:hover::after {
    -webkit-animation: shine 1.4s;
    animation: shine 1.4s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
@media (max-width: 1199px) {
    .banner-md .banner-content {
        max-width: 80%;
    }
    .banner-md.ratio.ratio-21-9::before {
        padding-bottom: 45%;
    }
}
@media (max-width: 992px) {
    .banner-md .banner-content {
        max-width: 100%;
        padding: 0 20px;
    }
    .banner-md.ratio.ratio-21-9::before {
        padding-bottom: 54%;
    }
}
.banner-md-vertical {
    position: relative;
}
.banner-md-vertical .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 24px 24px;
    display: flex;
    align-items: flex-start;
}

.banner-md-vertical.ratio.ratio-1-1::before {
    padding-bottom: 106%;
}
@media (max-width: 1199.98px) {
    .banner-md-vertical.ratio.ratio-1-1::before {
        padding-bottom: 25%;
    }
}
@media (max-width: 768.98px) {
    .banner-md-vertical.ratio.ratio-1-1::before {
        padding-bottom: 40%;
    }
}
@media (max-width: 420.98px) {
    .banner-md-vertical.ratio.ratio-1-1::before {
        padding-bottom: 55%;
    }
}

/*-- Banner css End ---*/
.products-section-v7 {
    position: relative;
    overflow: hidden;
}
.products-section-v7 img.shape-1 {
    position: absolute;
    top: 35%;
    left: -44px;
    animation: moveUpDown 8s linear infinite;
}
.products-section-v7 img.shape-2 {
    position: absolute;
    left: 45%;
    animation: rotate 8s linear infinite;
    top: 4%;
}
.products-section-v7 img.shape-3 {
    position: absolute;
    left: 20%;
    bottom: 2%;
    animation: ripple 8s linear infinite;
}
.products-section-v7 img.shape-4 {
    position: absolute;
    right: -90px;
    bottom: 0;
    animation: moveLeftRight 8s linear infinite;
}
.products-section-v7 img.shape-5 {
    position: absolute;
    top: 0%;
    right: -20px;
    animation: moveLeftRight 8s linear infinite;
}
.products-section-v7 img.shape-6 {
    position: absolute;
    top: 5%;
    right: 30%;
    animation: moveUpDown 8s linear infinite;
}

.featured-v7 {
    margin-top: 30px;
    background-size: cover !important;
    background-position: center center !important;
    display: block !important;
}
.featured-v7 .featured-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.featured-v7 .featured-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    width: 62px;
    height: 62px;
    font-size: 30px;
    z-index: 1;
    background: #fff;
    color: var(--color-dark);
    border-radius: 50%;
}
.featured-v7 .image {
    margin-top: -40px;
}
.featured-v7 .featured-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: -35px;
}
@media (min-width: 1199.98px) {
    .featured-v7 {
        background-size: contain !important;
        background-repeat: repeat !important;
        height: 400px;
    }
}
@media (max-width: 1199px) {
    .featured-v7 {
        padding-top: 100px;
    }
    .featured-v7 .featured-item {
        justify-content: center;
    }
}
@media (max-width: 575px) {
    .featured-v7 {
        padding-top: 70px;
    }
    .featured-v7 .featured-item-wrapper {
        margin-top: 0;
        margin-bottom: 30px;
        gap: 35px;
    }
    .featured-v7 .featured-item {
        justify-content: start;
    }
}

.products-tab-7 {
    position: relative;
    overflow: hidden;
}
.products-tab-7 img.shape-1 {
    position: absolute;
    top: 2%;
    left: 20%;
    animation: moveUpDown 8s linear infinite;
}
.products-tab-7 img.shape-2 {
    position: absolute;
    right: 20%;
    animation: rotate 8s linear infinite;
    top: 4%;
}

.section-product-slider-md {
    position: relative;
    overflow: hidden;
}
.section-product-slider-md img.shape-1 {
    position: absolute;
    top: 0%;
    left: -20px;
    animation: moveUpDown 8s linear infinite;
}
.section-product-slider-md img.shape-2 {
    position: absolute;
    right: 14%;
    animation: moveLeftRight 8s linear infinite;
    top: 2%;
}
.section-product-slider-md img.shape-3 {
    position: absolute;
    right: 17%;
    bottom: 10%;
    animation: rotate 8s linear infinite;
}

/*------------------------
product-slider-md
-------------------------*/
.product-slider-md .product-default-7-v2 {
    background: #fef8ed;
    padding: 10px;
}

.footer-v7 .footer-widget .social-link a {
    color: #fff !important;
    background: var(--color-primary);
    border-radius: 50%;
    transition: 0.3s;
    border: none;
}
.footer-v7 .footer-widget .social-link a:hover {
    transform: translateY(-4px);
}
.footer-v7 .footer-widget .social-link a.facebook {
    background: #1877f2;
}
.footer-v7 .footer-widget .social-link a.instagram {
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
}
.footer-v7 .footer-widget .social-link a.twitter {
    background: #000;
}
.footer-v7 .footer-widget .social-link a.pinterest {
    background: #e60023;
}
.footer-v7 .footer-widget p {
    color: var(--color-gray-1);
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-v7 .border-top-medium {
    border-color: #d7d7d7;
}

/*# sourceMappingURL=home-7.css.map */

/* -----------------------------------------
    Nav Tabs CSS
----------------------------------------- */
.tabs-navigation {
    background: #fff;
}
.tabs-navigation .nav-tabs {
    display: inline-flex;
    border: none;
    z-index: 1;
    position: relative;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: unset;
}
.tabs-navigation .nav-tabs .nav-link {
    font-size: 1rem;
    font-weight: 500;
    padding: 9px 20px;
    color: var(--bs-body-color);
    transition: all 0.4s ease;
    border: 1px solid var(--border);
    background: transparent;
    margin: 0;
    z-index: 1;
    cursor: pointer;
    background: 0;
}
.tabs-navigation .nav-tabs .nav-link.active {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
}

.tabs-navigation .nav[data-hover="fancyHover"] .nav-item {
    z-index: 2;
}

.tabs-navigation .nav li {
    flex: 0 0 auto;
}

.tabs-navigation .nav .nav-link:is(.active, :hover) {
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 6px;
}

.tabs-navigation .nav[data-hover="fancyHover"] .nav-item:is(.active) .nav-link {
    color: var(--color-white);
    background: var(--color-primary) !important;
    border-radius: 6px;
}

.tabs-navigation
    .nav[data-hover="fancyHover"]
    .nav-item:is(.active)
    .nav-link:is(:hover) {
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 6px;
}

.tabs-navigation .target {
    position: absolute;
    background: var(--color-primary);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
}

.tab-pane.fade {
    transition: all 0.2s;
    transform: translateY(1rem);
}

.tab-pane.fade.show {
    transform: translateY(0rem);
}

.tabs-navigation {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 14px;
}

/* Firefox */
.tabs-navigation {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--color-primary-rgb), 0.9) var(--color-primary);
    scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
.tabs-navigation::-webkit-scrollbar {
    height: 3px;
}

.tabs-navigation::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 10px;
}

.tabs-navigation::-webkit-scrollbar-thumb {
    background: rgba(var(--color-primary-rgb), 0.9);
    border-radius: 10px;
}

.tabs-navigation::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-primary-rgb), 1);
}

.tabs-navigation-2 .nav .nav-link {
    color: var(--color-medium);
    border: 2px solid transparent;
    padding: 24px 20px;
    border-radius: unset !important;
    margin: unset !important;
}
.tabs-navigation-2 .nav .nav-link:is(.active) {
    color: var(--color-primary);
    border-bottom-color: var(--color-primary);
    background: transparent;
}

.tabs-navigation-3 .nav-tabs .nav-link {
    border-radius: 30px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: transparent;
    padding: 13px 20px;
}
.tabs-navigation-3 .target {
    border-radius: 30px !important;
}
.tabs-navigation-3 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 30px !important;
}

.tabs-navigation-4 .nav-tabs .nav-link {
    border-radius: 0px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: transparent;
    padding: 13px 20px;
}
.tabs-navigation-4 .target {
    border-radius: 0px !important;
}
.tabs-navigation-4 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 0px !important;
}

.tabs-navigation-5 .nav-tabs .nav-link {
    border-radius: 8px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: transparent;
    padding: 13px 20px;
}
.tabs-navigation-5 .target {
    border-radius: 8px !important;
}
.tabs-navigation-5 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 8px !important;
}

.tabs-navigation-6 {
    background: transparent;
}
.tabs-navigation-6 .nav-tabs .nav-link {
    border-radius: 8px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: #fff;
    padding: 13px 20px;
}
.tabs-navigation-6 .target {
    border-radius: 8px !important;
}
.tabs-navigation-6 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 8px !important;
}

.tabs-navigation-7 {
    background: transparent;
}
.tabs-navigation-7 .nav-tabs .nav-link {
    border-radius: 8px !important;
    color: #635658;
    border: 1px solid #dfdede;
    background: #fdfdfd;
    padding: 13px 20px;
}
.tabs-navigation-7 .target {
    border-radius: 8px !important;
}
.tabs-navigation-7 .nav[data-hover="fancyHover"] .nav-item.active .nav-link {
    border-radius: 8px !important;
}

.product-default-7-inline.skeleton {
    background: #e9e9e945;
}
