/*------------------------
** petrashop rtl css Start
-------------------------*/
.header.header-v7 .menu-search .search-text {
    left: -10px;
    right: unset;
}
.header.header-v7 .menu-search.menuSearchactive .search-text {
    padding: 5px 20px 5px 40px;
}
.home-hero-7 .hero-image {
    right: unset;
    left: 28px;
    text-align: left;
}
.flash-sale-7 .flash-image {
    right: -60px;
}
.product-default-7 .label-discount-percentage {
    left: 0px;
    right: unset;
    border-radius: 0 30px 30px 0;
}
.rate {
    background-position: 100% -16px;
}
.banner-md .banner-content {
    left: unset;
    right: 0;
}

/*------------------------
** petrashop rtl css End
-------------------------*/
