body{
    direction: rtl;
    text-align: right;
}

/* defalt rtl css */
.text-start {
    text-align: right !important;
}
.form-control{
    padding: 0 18px 0 0;
}
.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: .5rem;
}
.me-2 {
    margin-left: .5rem!important;
}
.ps-3{
    padding-right: 1rem !important;
}

/* Sidebar rtl css */
.sidebar-widget-area .widget.widget-categories .list-dropdown>a::before{
    right: 0;
}
.sidebar-widget-area .widget.widget-categories .list-dropdown>a::after{
    right: 2px;
}
.sidebar-widget-area .widget.widget-categories .qty {
    float: left !important;
}
.sidebar-widget-area .widget.widget-categories span.show-more{
    float: right;
}
.sidebar-widget-area .widget.widget-categories .list-dropdown .menu-collapse {
    right: 104%;
    left: unset;
}
.sidebar-widget-area .widget.widget-color span:last-child{
    float: left ;
}
/* custom-radio */
.custom-radio .form-radio-label::before {
    right: 0;
    left: unset;
}
.custom-radio input[type="radio"]+.form-radio-label::after{
    right: 2px;
}

.menu .category-dropdown .submenu {
    right: 100%;
    top: 0;
    left: unset;
}
.product-default .btn-icon-group.btn-absolute {
    position: absolute;
    left: 20px;
    right: inherit;
    bottom: 25px;
}
.product-default .label-discount-percentage {
    left: 0px;
    right: unset;
    border-radius: 0 30px 30px 0;
}

.sidebar-widget-area .widget.widget-price .noUi-horizontal .noUi-handle{
    right: auto;
    left: -8px;
}

.header-search-form .btn-icon {
    left: 8px;
    right: unset;
}
.menu :is(.setting-dropdown, .cart-dropdown, .submenu, .mega-dropdown, .category-dropdown){
    right: auto;
    left: 0;
}

.menu .cart-dropdown .cart-delete {
    right: unset;
    left: -10px;
}

.product-single-details .product-countdown {
    -ms-flex-pack: unset;
    justify-content: unset;
}

.menu-action-item .plus-icon {
    float: left;
    transform: translateY(4px);
}
.menu-action-item .plus-icon {
    float: left;
    transform: translateY(4px);
}
.header .header-top .header-right .menu-item:not(:last-child) {
    border-left: 1px solid var(--border);
    border-right: none;
}
.menu-action-item .icon .currency-symbol, .menu-action-item .icon i {
    margin-left: 5px;
}
.product-single-default .product-single-details .product-action .btn-primary i {
    margin-left: 7px;
    margin-right: 0;
}


.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newsletter-form .custom-radious {
    border-radius: 10px 0px 0px 10px !important;
}

.menu .category-dropdown .nav-link {
    padding: 10px 10px 10px 30px;
}
.menu .arrow {
    left: 16px;
    right: unset;
}
.menu .arrow::before {
    font-family: var(--font-family-fontawesome);
    content: "\f104";
}
.menu :is(.setting-dropdown, .cart-dropdown, .submenu, .mega-dropdown, .category-dropdown) li {
    text-align: right;
}
.menu .setting-dropdown li a {
    padding: 6px 16px 6px 16px;
}
.header-search-form .select-custom {
    border-left: 1px solid var(--border);
    border-right: none;
}
.nice-select .list {
    right: 0;
}

.header .header-middle .header-right .menu .menu-link i {
    padding-right: unset;
    padding-left: 10px;
}
.header .badge {
    left: 0;
    right: unset;
}
/* .nice-select:after {
    left: 10px;
    right: unset;
} */
.product-single-tab .nav .nav-item:not(:last-child) {
    border-left: 2px solid var(--border);
    border-right: 0;
}
.section-title.title-bottom-line::before {
    right: 0;
    left: unset;
}


.custom-checkbox .form-check-label::before {
    right: 0;
    left: unset;
}
.custom-checkbox input[type="checkbox"]+.form-check-label::after {
    right: 3px;
    left: unset;
}
.order-summery .order-summery-list-item .product-item .product-img .product-qty {
    right: unset;
    left: -8px;
}
.order-payment .form-control {
    padding: 0 0px 0 18px;
}
.service-charge-list{
    padding-left: unset;
}
.ms-4 {
    margin-right: 1.5rem !important;
    margin-left: 0;
}
.me-3 {
    margin-left: 1rem !important;
}
.me-4 {
    margin-left: 1.5rem !important;
}
.product-default-2 .product-countdown, .product-default-3 .product-countdown, .product-default-4 .product-countdown {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
}
.accordion-button::after {
    margin-right: auto;
    margin-left: unset;
}
.authentication-area .link.go-signup {
    text-align: left;
}
.floating-wpp .floating-wpp-popup.active {
    left: 0;
}
.mobile-menu .header-search-form .btn {
    left: 10px;
    right: unset;
}
.margin-left--10px{
    margin-right: -10px;
}
.custom-modal .modal-dialog .close_modal_btn {
    right: unset;
    left: 10px;
}
.variatmodal-close {
    right: unset;
    left: 10px;
}
.blog-card-style-1 .info-list .list-item i {
    margin-right: 0px;
    margin-left: 6px;
}

.blog-card-style-1 .card-title a{
    background: linear-gradient(to left, var(--color-primary) 0%, var(--color-primary) 100%);
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 0px 1px;
    background-repeat: no-repeat;
    background-position: right 100%;
    transition: all 0.5s ease;
}
.blog-card-style-1 .card-btn::after{
    right: 0;
}

.show-password-field {
    left: 16px;
    right: unset;
}

/* Furniture Theme rtl css */
.new-product .product-slider::after {
    left: -30%;
    right: inherit;
}
.new-product .product-slider::before {
    left: 0;
    right: inherit;
}

/* Electrical Theme rtl css */
.category-inline .category-list li::before {
    right: 0;
    left: unset;
}

/* Fashion Theme rtl css */
.home-slider .product-thumb {
    right: calc(100% / 3 * 0.95);
    left: unset;
}

.rate {
    background-position: 100% -13px;
}

.rating {
    background-position: 100% 0;
}



@media (min-width: 992px) {
    .pe-lg-4 {
        padding-left: 1.5rem!important;
        padding-right: unset !important;
    }
}

@media (max-width: 992.99px) {
    .widget-offcanvas.offcanvas-start {
        transform: translateX(100%);
    }
    .offcanvas-start {
        left: unset;
        right: 0;
        transform: translateX(100%);
    }
    .sidebar-widget-area .widget.widget-categories .list-dropdown .menu-collapse {
        right: 0%;
        left: unset;
    }

}
.banner-sm .banner-content{
    right: 0;
}
.faq-area .accordion-button::after{
    margin-left: unset;
    margin-right: auto;
}

.header .header-top .header-left ul > li:not(:last-child){
    border-right: unset;
    border-left: 1px solid var(--border);
}

.product-column .product-action .old-price{
    margin-left: unset !important;
    margin-right: .25rem!important;
}

.header .header-middle .header-right .menu .border-end {
    border-left: 1px solid var(--color-white) !important;
    border-right: none !important;
}
.ltr{
    direction: ltr !important;
}
.floating-wpp-input-message .floating-wpp-btn-send svg {
    transform: rotate(180deg);
    margin-right: 10px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-right: .5em;
    margin-left: 0;
}
.user-dashboard .order-info-area .prinit {
    float: left;
}
.user-dashboard .order-info-area .prinit .btn i {
    margin-left: 10px;
    margin-right: 0;
}
.user-dashboard .file-upload-area {
    margin-right: 30px;
    margin-left: 0;
}
.review-content ul.review-value::after {
    left: 0;
    right: unset;
}
.blog-details-content .info-list,
.list-item i,
.blog-card-style-1 .info-list .list-item i {
    margin-right: unset;
    margin-left: 6px;
}
@media only screen and (max-width: 1199.99px) {
    .menu.mobile-nav ul {
        padding-left: 0;
    }

    .mobile-menu ul .nav-item a i {
        float: left;
    }
}


