/*

    * This file contains the styling for the Home Variation Five, this
    is the file you need to edit to change the look of the
    template.

******************************************************
*****************************************************/
.home-slider.home-slider-6 .slider-content {
    max-width: 590px;
    padding-inline: 40px;
}

.home-slider.home-slider-6 .text-lg {
    max-width: 420px;
}

.home-slider.home-slider-6 .slider-item.ratio::before {
    padding-bottom: 40%;
}

.home-slider.home-slider-6 .slick-dots {
    bottom: 30px;
}

.home-slider.home-slider-6 .slick-dots li {
    background: var(--color-primary);
}

.home-slider.home-slider-6 .slick-dots li.slick-active {
    width: 30px;
    border-radius: 30px;
    background: var(--color-primary);
}
/*  product  Slider css */
.product-slider-2-wrapper {
    position: relative;
}



.product-slider-2-wrapper .product-slider-prev {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

.product-slider-2-wrapper .product-slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}

.product-slider-2-wrapper .product-item:hover .product-image-area .product-img {
    transform: scale(1.3);
}

.product-slider-2-wrapper .product-image-area {
    background: #F5FAFF;
    padding: 16px 14px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.product-slider-2-wrapper .product-img {
    max-width: 100%;
    transition: all 0.4s ease;
}

.product-slider-2-wrapper:hover .product-slider-prev {
    visibility: visible;
    opacity: 1;
    left: 10px;
}

.product-slider-2-wrapper:hover .product-slider-next {
    visibility: visible;
    opacity: 1;
    right: 10px;
}

.product-slider-2 .product-item {
    text-align: center;
    margin-right:30px;
    margin-left:30px;
}
.product-slider-2 .product-item h6{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease-out;
}
/* banner-md-style-2 css */
.banner-sm-style-2 {
    height: 565px;
}

.banner-sm-style-2 .sub-title {
    color: #1E1D23;
    font-weight: 500;
}

.banner-sm-style-2 .title {
    color: #000000;
    font-size: clamp(2rem, 1.3333rem + 1.3889vw, 3rem);
}

.banner-sm-style-2 .description {
    max-width: 60%;
}



.banner-sm-style-3 {
    height: 320px;
}

.banner-sm-style-3 .title {
    color: #000000;
    font-size: 2rem;
}



.slider-arrow-inline.style-3 .slider-btn {
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.banner-sm-style-4 .banner-content {
    text-align: center;
    align-items: flex-start;
    padding: 34px 115px;
    left: 0;
    right: 0;
    justify-content: center;
}


.banner-sm-style-4.banner-sm.banner-vertical.ratio::before {
    padding-bottom: 100%;
}

.tabs-navigation-2 .nav-tabs-style-2 .nav-link-2 {
    border: 0 !important;
    margin: 0 15px 0px 0 !important;
    font-family: Josefin Sans !important;
    color: var(--color-dark) !important;
}

.tabs-navigation-2 .nav-tabs-style-2 .nav-link-2.active {
    border: 0 !important;
    position: relative;
}

.tabs-navigation-2 .nav-tabs-style-2 .nav-link-2.active::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -31px;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
}

.tabs-navigation-2 .nav-tabs-style-2 .nav-link-2.active::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    border-top: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--color-primary);
    border-left: 10px solid transparent;
}




@media only screen and (min-width: 1400px) {
    .banner-sm-style-4.banner-sm.content-top .banner-content {
        text-align: center;
        align-items: flex-start;
        padding: 34px 160px;
        left: 0;
        right: 0;
        justify-content: center;
    }

}
@media only screen and (max-width: 1399.99px) {
    .home-slider.home-slider-6 .slider-item.ratio::before {
        padding-bottom: 50%;
    }
}
@media only screen and (max-width: 1199.99px) {
    .header-product-slider{
        padding: 30px  0 0 0 !important;
    }
}

@media only screen and (max-width: 992.99px) {
    .home-slider.home-slider-6 .slider-item.ratio::before {
        padding-bottom: 80%;
    }
}
@media only screen and (max-width: 768px) {
    .banner-sm-style-3 .banner-content {
        max-width: 80% !important;
    }
    .banner-sm-style-2 .banner-content {
        max-width: 80% !important;
    }
    .slick-slide .product-default.product-inline {
        flex-direction: column;
        gap: 20px;
    }
    .banner-sm-style-2 {
        height: 400px;
    }
}

@media only screen and (max-width: 575px) {
    .banner-sm-style-3 .banner-content {
        max-width: 100% !important;
    }
    .banner-sm-style-4.banner-sm.banner-vertical.ratio::before {
        padding-bottom: 100%;
    }
    .banner-sm-style-2 .banner-content {
        max-width: 100% !important;
    }
}
@media only screen and (max-width: 575px) {
    .home-slider.home-slider-6 .slider-item.ratio::before {
        padding-bottom: 100%;
    }
}
@media only screen and (max-width: 420px) {
    .home-slider.home-slider-6 .slider-item.ratio::before {
        padding-bottom: 120%;
    }
}
@media only screen and (max-width: 360px) {
    .home-slider.home-slider-6 .slider-item.ratio::before {
        padding-bottom: 150%;
    }

}

.category-6 .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.category-6 .category-item:hover .category-img img {
   transform: scale(1.4);
}
.category-6 .category-item .category-img img{
    transition: all 0.4s ease;
    transform: scale(1);
}
.category-item-title{
    transition: all 0.4s ease;
}
.category-6 .category-item:hover .category-item-title{
    color: var(--color-primary);
}
.category-6 .category-item .category-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    z-index: 1;
    transition: all 0.4s ease;
}

.category-6 .category-item .category-img::before,
.category-6 .category-item .category-img::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    border-radius: 50%;
    opacity: 0.1;
    z-index: -1;
}

.category-6 .category-item .category-img::before {
    width: 100%;
    height: 100%;
}

.category-6 .category-item .category-img::after {
    width: 65%;
    height: 65%;
}

.category-6 .category-item h3 {
    margin-bottom: 0;
}
.header-mt-fix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

/*# sourceMappingURL=home-6.css.map */

